@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Bebas Neue";
}

h1 {
  font-weight: bold;
  font-style: oblique;
}

.btn .badge {
  position: absolute;
  top: 1.7rem;
}
.btn {
  margin-left: 132px;
}

@media(max-width: 991px) {
  .dropdown-menu[data-bs-popper] {
    width: min-content;
  }
  .btn .badge {
    position: relative;
    top: -1px;
  }
  .btn {
    margin-left: 0;
  }
}